.contacts{
  height: 100vh;
  background-color: indianred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.contactsBlock {
  border: 1px solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.contactsForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid;
  height: 200px;
}