.main{
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;
}

.photo {
  height: 400px;
  width: 300px;
  background: gray;
}
