.project{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  align-items: center;
  justify-content: space-around;
}

.image {
  background-color: gray;
  width: 200px;
  height: 200px;
}

.projectName {

}

.projectDescription {

}